@import 'main_a';

.nav-panel {

    width: 257px; height: 100%; padding: 38px 0; 
    position: fixed; top: 0; left: 0; bottom: 0;
    background-color: nth(map-get($colors, "e"),1);


    .nav-panel-section-search {

        min-height: 38px; 
        position: absolute; 
        top: 0; 
        width: 257px;

        .nav-panel-section-search-box {
            height: 38px; line-height: 38px; width: calc(100% - 48px); padding: 0 5px; margin: 0; border: 0; float: left;
        }
        
        .nav-panel-section-search-button {

            height: 38px; width: 38px;
            background-color: nth(map-get($colors, "c"),1);
            float: left;
            cursor: pointer;
            transition: .4s;

            .svg-inject {

                transition: .4s;
                height: 22px;
                width: 22px;
                margin: 8px;

                path {

                    transition: .4s;
                    fill: white;
                }            
            }
        }
        .nav-panel-section-search-button:hover {

            background-color: nth(map-get($colors, "c"),2);

            .svg-inject {

                height: 26px;
                width: 26px;
                margin: 6px;
            }
        }
    }
    
    .nav-panel-foot {

        color: nth(map-get($colors, "bk"),1);
        width: 257px; min-height: 38px; position: absolute; bottom: 76px;
        font-size: 13px;

        .nav-panel-section-agendas{

            background-color: nth(map-get($colors, "c"),1);

            .nav-panel-section-agenda {
                
                min-height: 24px;
                border-top: solid 1px nth(map-get($colors, "e"),1);
                position: relative;

                .nav-panel-section-messages-title {

                    line-height: 38px;
                    padding-left: 10px;
                    transition: 1s;
                    cursor: pointer;
                    background-color: nth(map-get($colors, "c"),1);

                    .nav-panel-section-messages-title-button {

                        position: absolute;
                        top: 0;
                        right: 0px;
                        width: 38px; height: 38px;
                        transition: .4s;
                        cursor: pointer;
                        background-color: nth(map-get($colors, "c"),1);

                        .svg-inject {

                            transition: .4s;
                            height: 22px;
                            width: 22px;
                            margin: 8px;

                            path {

                                transition: .4s;
                                fill: white;
                            }            
                        }
                    }
                    .nav-panel-section-messages-title-button:hover {

                        background-color: nth(map-get($colors, "c"),2);

                        .svg-inject {

                            height: 26px;
                            width: 26px;
                            margin: 6px;

                            path {

                                stroke-width: 3;
                                stroke: white;
                            }
                        }
                    }
                }
                .nav-panel-section-messages-title:hover {

                    background-color: nth(map-get($colors, "c"),2);                    
                }

                .title-expanded {
                    padding-left: 10px;}

                .title-collapsed {
                    padding-left: 20px; 
                }

                .nav-panel-section-messages-tiles {

                    height: 5px;
                    background-color: nth(map-get($colors, "c"),1);
                    @import 'messages';

                    .nav-panel-section-messages-tile {
                        height: 5px; width: 15px;
                        float: left;
                    }
                }

                .nav-panel-section-messages-content {

                    display: none;
                    background-color: nth(map-get($colors, "bk"),1);
                    color: nth(map-get($colors, "b"),1);
                    font-size: 11px;

                    .nav-panel-section-messages-info {

                        @import 'messages';
                        height: 32px;
                        padding: 5px;
                        overflow: hidden;

                        .info-title {

                            font-size: 13px; font-weight: bold;
                        }

                        .info-description {

                            font-size: 11px; font-style: italic;
                        }

                        .info-label {

                            height: 15px; width: 15px; border-radius: 10px; margin: 0 5px 5px 0;
                            float: left;
                        }
                    }
                }

            }

        }


        .nav-panel-section-user {
                
            @import 'user';
            background-color: $user-color;
            color: nth(map-get($colors, "bk"),1);

            .nav-panel-section-user-title {

                line-height: 38px;
                cursor: pointer; transition: all 1s;
            }

            .nav-panel-section-user-content {

                display: none;
                padding: 5px 0 5px 25px; font-size: 12px; line-height: 15px;

                .nav-panel-section-user-setting {

                    color: nth(map-get($colors, "bk"),1);
                    display: block;
                    text-decoration: none;
                    line-height: 25px;
                }
            }

            .title-expanded {padding-left: 10px;}

            .title-collapsed {padding-left: 20px;}
        }
    }

    .nav-panel-section-items {

        overflow-y: auto;

        .nav-panel-section-normal {

            min-height: 38px;

            .nav-panel-section-normal-title {

                line-height: 38px; 
                text-transform: uppercase; 
                font-size: 13px; 
                cursor: pointer; 
                transition: all 1s;
            }
     
            .nav-panel-section-normal-content {padding: 15px; font-size: 12px;}
     
            .title-expanded {
                background-color: transparent; 
                color: nth(map-get($colors, "c"),1); 
                padding-left: 10px;}

            .title-collapsed {
                background-color: nth(map-get($colors, "d"),1); 
                color: nth(map-get($colors, "b"),1); 
                padding-left: 20px; 
                border-top: solid 1px nth(map-get($colors, "e"),1);
            }
            .title-collapsed:hover {
                background-color: nth(map-get($colors, "d"),2);                 
            }
        }
    }
}

