@import 'main_a';

.nav-panel {
    width: 257px; height: 100%; padding: 38px 0; 
    position: fixed; top: 0; left: 0; bottom: 0;
    background-color: nth(map-get($colors, "e"),1);

    #search-panel {
        min-height: 38px; 
        position: absolute; 
        top: 0; 
        width: 257px;
        .nav-panel-section-search-box {
            display: block;
            height: 38px; line-height: 38px; 
            width: calc(100% - 48px); 
            padding: 0 5px; margin: 0; border: 0; float: left;
        }
        .nav-panel-section-search-button {
            height: 38px; width: 38px;
            background-color: nth(map-get($colors, "c"),1);
            float: left;
            cursor: pointer;
            transition: .4s;
            .svg-inject {
                transition: .4s;
                height: 22px;
                width: 22px;
                margin: 8px;
                path {
                    transition: .4s;
                    fill: white;
                }            
            }
        }
        .nav-panel-section-search-button:hover, .nav-panel-section-search-button:focus {
            background-color: nth(map-get($colors, "c"),2);
            .svg-inject {
                height: 26px;
                width: 26px;
                margin: 6px;
            }
        }
    }
    
    #main-panel, #foot-panel {
        overflow-y: auto;
        font-size: 13px; 
        .nav-panel-section {
            position: relative;
            .nav-section-title {
                min-height: 38px;
                line-height: 38px; 
                font-weight: bold;
                cursor: pointer; 
                transition: all 1s;
                position: relative;
                text-decoration: none;
                display: block;
                padding-left: 10px;
                .svg-inject.expand, .svg-inject.next, .svg-inject.user {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 22px;
                    width: 22px;
                    margin: 8px;
                    transition: .4s;
                    path {
                        transition: .4s;
                    }            
                }
            }
            .nav-section-title.with-icon {
                padding-left: 40px;
                .svg-inject.icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 22px;
                    width: 22px;
                    margin: 8px;
                    transition: .4s;
                    path {
                        transition: .4s;
                    }            
                }
            }
            .nav-section-title:hover, .nav-section-title:focus {
                .svg-inject.next {
                    height: 26px;
                    width: 26px;
                    margin: 6px;
                    path {
                        stroke-width: 3;
                    }
                }
            }
            .nav-section-title:active {
                .svg-inject.next {
                    transform: translate(5px);
                }
            }
            .nav-section-description {
                min-height: 28px;
                line-height: 28px;
                font-size: 12px;
                font-style: italic;
                transition: all 1s;
                padding-left: 10px;
            }
            .nav-section-title-button {
                height: 38px; 
                width: 38px;
                position: absolute;
                top: 0;
                right: 0;
                transition: 1s;
                .svg-inject {
                    height: 22px;
                    width: 22px;
                    margin: 8px;
                    transition: .4s;
                    path {
                        transition: .4s;
                    }            
                }
            }
            .nav-section-title-button:hover, .nav-section-title-button:focus { 
                .svg-inject {
                    height: 26px;
                    width: 26px;
                    margin: 6px;
                    path {
                        stroke-width: 3;
                    }
                }
            }
            .nav-section-title-info-button {
                height: 38px; 
                width: 38px;
                position: absolute;
                top: 0;
                right: 52px;
                transition: 1s;
                .svg-inject {
                    height: 18px;
                    width: 18px;
                    margin: 10px;
                    transition: .4s;
                    path {
                        transition: .4s;
                    }            
                }
            }
            .nav-section-title-info-button:hover, .nav-section-title-info-button:focus { 
                .svg-inject {
                    height: 26px;
                    width: 26px;
                    margin: 6px;
                    path {
                        stroke-width: 3;
                    }
                }
            }
            .nav-section-title-button:active { 
                .svg-inject {
                    transform: translate(5px);
                }
            }
            .nav-section-title-info {
                text-align: center;
                line-height: 38px;
                height: 38px; 
                width: 52px;
                position: absolute;
                top: 0;
                right: 0;
                transition: 1s;
            }
            .nav-section-title-info:hover { 
            }
        }
        .nav-panel-section-expand {
            .nav-panel-section-expand-content {}
        }
        .nav-panel-section-expand-link {
            .nav-panel-section-expand-link-title {
                width: calc(100% - 48px);
            }
            .nav-panel-section-expand-link-content {}     
        }
        .nav-panel-section-expand-link-tiles {
            .nav-panel-section-expand-link-tiles-title {
                width: calc(100% - 48px);
            }
            .nav-panel-section-expand-link-tiles-preview {
                transition: .5s;
                .tile-preview {
                    height: 5px; width: 15px;
                    float: left;
                }
            }     
            .nav-panel-section-expand-link-tiles-content {}     
        }
        .nav-panel-section-expand-link-tiles.expanded {
            .nav-panel-section-expand-link-tiles-preview {
                height: 0px;
            }     
        }
        .nav-panel-section-expand-link-tiles.collapsed {
            .nav-panel-section-expand-link-tiles-preview {
                height: 5px;
            }     
        }
        .nav-panel-section-expand-refresh-info {
            .nav-panel-section-expand-refresh-info-title {
                width: calc(100% - 100px);
            }
            .nav-section-title-info-button:active {
                .svg-inject {
                    transform: rotate(360deg);
                }
            }
            .nav-panel-section-expand-refresh-info-content {}     
        }
        .nav-panel-section .panel-content {
            padding: 10px;
        }
        // BUTTON
        .nav-panel-section-button {
            .nav-section-title:active { 
                background-color: nth(map-get($colors, "a"),1) !important;
                color: nth(map-get($colors, "bk"),1) !important;
                .svg-inject.next {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                        stroke: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
        }
        .nav-panel-section.expanded {
            .nav-section-title{
                .svg-inject.expand {
                    transform: rotate(180deg);
                }
            }
        }
        .nav-panel-section.collapsed {
            .nav-section-title{
                .svg-inject.expand {
                    transform: rotate(0deg);
                }
            }
        }
    }

    #main-panel {
        .nav-panel-section {
            .nav-section-title {
                .svg-inject.next {
                    path {
                        fill: nth(map-get($colors, "b"),1);
                        stroke: nth(map-get($colors, "b"),1);
                    }            
                }
            }
            .nav-section-title-button:hover, .nav-section-title-button:focus { 
                background-color: nth(map-get($colors, "e"),2); 
            }
            .nav-section-title-button:active { 
                background-color: nth(map-get($colors, "a"),2); 
            }
        }
        // ALL
        .nav-panel-section-expand.expanded, .nav-panel-section-expand-link.expanded, .nav-panel-section-expand-link-tiles.expanded, .nav-panel-section-button.expanded, .nav-panel-section-expand-refresh-info.expanded {
            .nav-section-title, .nav-section-description {
                background-color: transparent; 
                color: nth(map-get($colors, "c"),1); 
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "c"),1);
                    }            
                }
            }
            .nav-section-title:hover, .nav-section-title:focus {
                background-color: nth(map-get($colors, "d"),2);                 
            }
        }
        .nav-panel-section-expand.collapsed, .nav-panel-section-expand-link.collapsed, .nav-panel-section-expand-link-tiles.collapsed, .nav-panel-section-button.collapsed, .nav-panel-section-expand-refresh-info.collapsed {
            .nav-section-title {
                border-top: solid 1px nth(map-get($colors, "e"),1);
            }
            .nav-section-title, .nav-section-description {
                background-color: nth(map-get($colors, "d"),1); 
                color: nth(map-get($colors, "b"),1); 
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "b"),1);
                    }            
                }
            }
            .nav-section-title:hover, .nav-section-title:focus {
                background-color: nth(map-get($colors, "d"),2);                 
            }
        }
        // EXPAND-LINK && EXPAND-LINK-TILES
        .nav-panel-section-expand-link.expanded, .nav-panel-section-expand-link-tiles.expanded {
            .nav-section-title-button {
                background-color: transparent;
                color: nth(map-get($colors, "c"),1); 
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "c"),1);
                        stroke: nth(map-get($colors, "c"),1);
                    }            
                }
            }
            .nav-section-title-button:hover, .nav-section-title-button:focus {
                background-color: nth(map-get($colors, "d"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "b"),1);
                        stroke: nth(map-get($colors, "b"),1);
                    }            
                }
            }
            .nav-section-title-button:active {
                background-color: nth(map-get($colors, "a"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                        stroke: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
        }
        .nav-panel-section-expand-link.collapsed, .nav-panel-section-expand-link-tiles.collapsed {
            .nav-section-title-button {
                background-color: nth(map-get($colors, "d"),1);
                color: nth(map-get($colors, "b"),1); 
                border-top: solid 1px nth(map-get($colors, "e"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "b"),1);
                        stroke: nth(map-get($colors, "b"),1);
                    }            
                }
            }
            .nav-section-title-button:hover, .nav-section-title-button:focus {
                background-color: nth(map-get($colors, "d"),2);
            }
            .nav-section-title-button:active {
                background-color: nth(map-get($colors, "a"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                        stroke: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
        }
        // EXPAND-LINK-TILES
        .nav-panel-section-expand-link-tiles {
            .nav-panel-section-expand-link-tiles-title {
            }
            .nav-panel-section-expand-link-tiles-preview {
                background-color: nth(map-get($colors, "d"),2); 
                .tile-preview {
                }
            }     
            .nav-panel-section-expand-link-tiles-content {}     
        }
        .nav-panel-section-expand-link-tiles.expanded {
            .nav-panel-section-expand-link-tiles-preview {
            }     
        }
        .nav-panel-section-expand-link-tiles.collapsed {
            .nav-panel-section-expand-link-tiles-preview {
            }     
        }
        // EXPAND-REFRESH-INFO
        .nav-panel-section-expand-refresh-info {
            .nav-section-title-info-button {
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "c"),1);
                    }            
                }
            }
        }
        .nav-panel-section-expand-refresh-info.expanded {
            .nav-section-title-info-button {
                background-color: transparent;
                color: nth(map-get($colors, "c"),1); 
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "c"),1);
                    }            
                }
            }
            .nav-section-title-info-button:hover,.nav-section-title-info-button:focus {
                background-color: nth(map-get($colors, "d"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "b"),1);
                    }            
                }
            }
            .nav-section-title-info-button:active {
                background-color: nth(map-get($colors, "a"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
            .nav-section-title-info {
                background-color: transparent;
                color: nth(map-get($colors, "c"),1); 
            }
        }
        .nav-panel-section-expand-refresh-info.collapsed {
            .nav-section-title-info-button {
                background-color: nth(map-get($colors, "d"),1);
                color: nth(map-get($colors, "b"),1); 
                border-top: solid 1px nth(map-get($colors, "e"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "b"),1);
                    }            
                }
            }
            .nav-section-title-info-button:hover, .nav-section-title-info-button:focus {
                background-color: nth(map-get($colors, "d"),2);
            }
            .nav-section-title-info-button:active {
                background-color: nth(map-get($colors, "a"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
            .nav-section-title-info {
                background-color: nth(map-get($colors, "b"),1);
                color: nth(map-get($colors, "bk"),1); 
                border-top: solid 1px nth(map-get($colors, "e"),1);
            }
        }
    }

    #foot-panel {
        color: nth(map-get($colors, "bk"),1);
        background-color: nth(map-get($colors, "c"),1);
        width: 257px; min-height: 38px; position: absolute; bottom: 76px;
        .nav-panel-section {
            border-top: solid 1px nth(map-get($colors, "e"),1);
            .nav-section-title {
                background-color: nth(map-get($colors, "c"),1); 
                color: nth(map-get($colors, "bk"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
            .nav-section-title:hover, .nav-section-title:focus {
                background-color: nth(map-get($colors, "c"),2);                 
            }
            .nav-section-title {
                .svg-inject.next {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                        stroke: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
            .nav-section-title-button {
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
            .nav-section-title-button:hover, .nav-section-title-button:focus { 
                background-color: nth(map-get($colors, "c"),2);                 
                .svg-inject {
                    path {
                        stroke: white;
                    }
                }
            }
            .nav-section-title-button:active { 
                background-color: nth(map-get($colors, "a"),1);
            }
        }
        .nav-panel-section-expand {
            .nav-panel-section-expand-content {}
        }
        // EXPAND-LINK
        .nav-panel-section-expand-link {
            .nav-panel-section-expand-link-title {
                width: calc(100% - 48px);
            }
            .nav-panel-section-expand-link-content {}     
        }
        // EXPAND-LINK-TILES
        .nav-panel-section-expand-link-tiles {
            .nav-panel-section-expand-link-tiles-title {
            }
            .nav-panel-section-expand-link-tiles-preview {
                background-color: nth(map-get($colors, "c"),2); 
                .tile-preview {
                }
            }     
            .nav-panel-section-expand-link-tiles-content {}     
        }
        .nav-panel-section-expand-link-tiles.expanded {
            .nav-panel-section-expand-link-tiles-preview {
            }     
        }
        .nav-panel-section-expand-link-tiles.collapsed {
            .nav-panel-section-expand-link-tiles-preview {
            }     
        }
        // EXPAND-REFRESH-INFO
        .nav-panel-section-expand-refresh-info {
            .nav-section-title-info-button {
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
        }
        .nav-panel-section-expand-refresh-info.expanded {
            .nav-section-title-info-button {
            }
            .nav-section-title-info-button:hover, .nav-section-title-info-button:focus {
                background-color: nth(map-get($colors, "c"),2);
            }
            .nav-section-title-info-button:active {
                background-color: nth(map-get($colors, "a"),2);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
            .nav-section-title-info {
                background-color:  nth(map-get($colors, "c"),1);
            }
        }
        .nav-panel-section-expand-refresh-info.collapsed {
            .nav-section-title-info-button {
            }
            .nav-section-title-info-button:hover, .nav-section-title-info-button:focus {
                background-color: nth(map-get($colors, "c"),2);
            }
            .nav-section-title-info-button:active {
                background-color: nth(map-get($colors, "a"),1);
                .svg-inject {
                    path {
                        fill: nth(map-get($colors, "bk"),1);
                    }            
                }
            }
            .nav-section-title-info {
                background-color: nth(map-get($colors, "b"),1);
            }
        }
        // USER
        .nav-panel-section-user {
            @import 'user';
            .nav-panel-section-user-title {
                background-color: nth($user-color, 1) !important;
            }
            .nav-panel-section-user-title:hover, .nav-panel-section-user-title:focus {
                background-color: nth($user-color, 2) !important;
            }
            .nav-section-description {
                background-color: nth($user-color, 1) !important;
            }
            .nav-panel-section-user-content {
                background-color: nth($user-color, 2) !important;
            }
        }
    }
}

