@import 'main';

.nav-panel {

    width: 257px; height: 100%; padding: 38px 0; 
    position: fixed; top: 0; left: 0; bottom: 0;
    background-color: $e-color;

    .nav-panel-section-search {

        min-height: 38px; 
        position: absolute; 
        top: 0; 
        width: 257px;

        .nav-panel-section-search-box {
            height: 38px; line-height: 38px; width: calc(100% - 48px); padding: 0 5px; margin: 0; border: 0; float: left;
        }
        
        .nav-panel-section-search-button {
            height: 38px; width: 38px;
            background-color: $c-color;
            float: left;
        }
    }
    
    .nav-panel-foot {

        color: $bk-color;
        width: 257px; min-height: 38px; position: absolute; bottom: 76px;

        .nav-panel-section-messages {
                
            min-height: 38px;
            background-color: $c-color;

            .nav-panel-section-messages-title {
            
                line-height: 38px; text-transform: uppercase; font-size: 13px; transition: all 1s;
                padding-left: 10px;            
            }

            .nav-panel-section-messages-tiles {
            
                min-height: 20px; line-height: 20px; padding: 0 0 5px 25px;
            
            }
        }

        .nav-panel-section-user {
                
            .nav-panel-section-user-title {
                line-height: 38px;  
                background-color: $user-color;
                font-size: 13px; cursor: pointer; transition: all 1s;}

            .nav-panel-section-user-content {display: none; 
                background-color: $user-content-color; 
                padding: 15px; font-size: 12px; line-height: 15px;}

            .user-expanded {padding-left: 10px;}

            .user-collapsed {padding-left: 20px;}
        }
    }

    .nav-panel-section-items {

        overflow-y: auto;

        .nav-panel-section-normal {

            min-height: 38px;

            .nav-panel-section-normal-title {line-height: 38px; text-transform: uppercase; font-size: 13px; cursor: pointer; transition: all 1s;}
     
            .nav-panel-section-normal-content {padding: 15px; font-size: 12px;}
     
            .title-expanded {
                background-color: transparent; 
                color: $c-color; 
                padding-left: 10px;}

            .title-collapsed {
                background-color: $d-color; 
                color: $b-color; 
                padding-left: 20px; 
                border-top: solid 1px $e-color;
            }
        }
    }
}

